.App {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}
.block_address{
    margin-right: 30px;
}
.input_search{
    margin-right: 30px;
}
.input_search input{
    width: 480px;
}
.address{
    margin-top: 10px;
    border: 1px solid black;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: move;
}
.address button{
    color: white;
    background: red;
    outline: none;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 5px;
}

ymaps[class$="balloon__content"] {
    background: #3da9fc;
}

ymaps[class$="balloon__layout"] {
    padding: 5px;
    background: #3da9fc;
}

ymaps[class$="balloon__tail"]::after {
    background: #3da9fc;
}
